= simple_form_for current_user, url: user_profile_path do |f|
  .form-group
    = f.input :name
    .form-group
    = f.input :profile, input_html: { maxlength: 200 }
  .actions
    = f.button :submit, class: "btn-primary"
  = link_to '詳細へ戻る', user_profile_path, class: "btn btn-secondary"
