.container
  %p
    %b 名前:
    = @user.name
  %p
    %b プロフィール:
    = @user.profile
  %p
    %b フォロー
    = link_to @user.followings.count , followings_user_path(@user)
    %b フォロワー
    = link_to @user.followers.count , followers_user_path(@user)

  = render 'shared/btn', user: @user
  = link_to 'ユーザー一覧へ戻る', users_path, class: "btn btn-secondary"
  = link_to '投稿一覧へ戻る', root_path, class: "btn btn-success"
