= link_to '新規投稿', new_post_path, class: 'btn btn-primary mt-4'

.row
  - @posts.each do |post|
    .col-8.mt-4.mx-auto
      .card.shadow
        .card-body
          .card-text
            = link_to post.content, post_path(post), class: 'text-decoration-none text-body'
          .footer-text.text-end
            -# todo:リファクタリング
            - if user_signed_in?
              - unless current_user == post.user
                - if current_user.following?(post.user)
                  = button_to 'フォロー解除', relationships_path(post.user), class: 'btn btn-danger'
                - else
                  = button_to 'フォロー', relationships_path(post.user), class: 'btn btn-primary'
            = post.user.name
