.container
  = simple_form_for micropost do |f|
    - if micropost.errors.any?
      #error_explanation.alert.alert-danger
        %h2= "#{pluralize(micropost.errors.count, "error")} prohibited this micropost from being saved:"
        %ul
          - micropost.errors.full_messages.each do |message|
            %li= message

    .form-group
      = f.input :content, input_html: { maxlength: 140 }
    .actions
      = f.button :submit, class: "btn-primary"
