.container
  %h1 全体タイムライン

  - if user_signed_in?
    = link_to "フォロー中", user_microposts_path, class: 'btn btn-info mb-3'

  - @microposts.each do |micropost|
    .card.mb-3
      .card-body
        %p.card-text= micropost.content
        %p.card-text 投稿日: #{l micropost.created_at}
        %p.card-text 更新日: #{l micropost.updated_at}
        %p.card-text
          投稿者:
          = link_to micropost.user.name, user_path(micropost.user)
        = link_to 'Show', micropost_path(micropost), class: "btn btn-primary"

  %br

  = link_to 'New Micropost', new_user_micropost_path, class: "btn btn-success"
