%p#notice= notice
%h1 全体タイムライン

%table
  %thead
    %tr
      %th Content

  %tbody
    - @microposts.each do |micropost|
      %tr
        %td= micropost.content
        %td= micropost.created_at.to_s(:datetime_jp)
        %td= link_to 'Show', micropost

%br

= link_to 'New Micropost', new_micropost_path
