%p#notice= notice

%p
  %b Content:
  = @micropost.content

= link_to 'Edit', edit_micropost_path(@micropost)

= link_to 'Back', microposts_path

= button_to  'Destroy', @micropost, method: :delete, data: { confirm: 'Are you sure?' }
